

body{
  overflow-x: hidden; 

}

*, ::before, ::after {
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
  border-color: var(--color-ui-border);
  /* overflow: hidden; */
}

.App{
  position: relative;
}

/* Sidebar */


/* Taskbar */


/* Task section */



/* Task Content */




